.about-quality {
  display: grid;
  grid-template-columns: repeat(4, 130px);
  gap: 27px;
  justify-content: center;
  align-items: center;
  background: #375b68;

  button {
    z-index: 2;
    outline: none;
    width: 134px;
    height: 134px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    border: none;

    position: relative;

    img {
      transition: transform 0.3s ease;
    }

    &:hover img {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 768px) {
  .about-quality {
    margin-top: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0;

    button {
      display: flex;
      justify-content: center;
      width: 280px;
      height: auto;
    }
  }
}

@media (max-width: 576px) {
  .about-quality {
    button {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      max-width: 200px;

      img {
        max-width: 240px;
      }
    }
  }
}

@media (max-width: 320px) {
  .about-quality {
    button {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 140px;

      img {
        max-width: 140px;
      }
    }
  }
}
