.about-quality {
    display: grid;
    grid-template-columns: repeat(4, 130px);
    gap: 27px;
    justify-content: center;
    align-items: center;
    background: #375B68;


    button {
        outline: scale(0.5);
        width: 230px;
        height: fit-content;
        border-radius: 50%;
        background: transparent;
        cursor: pointer;
        border: none;

        position: relative;



        img {
            transition: transform 0.3s ease;
        }

        &:hover img {
            transform: scale(1.1);
        }
    }


}


@-webkit-keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}

@keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}

@media (max-width: 768px) {

    .about-quality {
        margin-top: 40px;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0;

        button {

            display: flex;
            justify-content: center;
            width: 280px;

        }
    }
}

@media (max-width: 576px) {
    .about-quality {
        button {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px; // пробуем положительное значение gap (при необходимости можно его убрать или изменить)
            max-width: 140px;

            img {
                max-width: 140px;
            }
        }
    }
}