@font-face {
    font-family: 'Sahitya';
    src: url('../assets/fonts/Sahitya-Regular.ttf');
}
@font-face {
    font-family: 'Sahitya-Bold';
    src: url('../assets/fonts/Sahitya-Bold.ttf');
}
@font-face {
    font-family: 'Cabinet-Grotesk';
    src: url('../assets/fonts/CabinetGrotesk-Variable.ttf')
}