footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #f5f7fa;
    font-family: "Cabinet-Grotesk", sans-serif;
    position: relative;

    // BG-IMAGES
    &::before,
    &::after {
        content: "";
        position: absolute;
        z-index: 0;
    }

    &::before {
        background: url("../assets/footer/girl.png") no-repeat;
        background-size: contain;
        background-position: left bottom;
        width: 1440px;
        height: 510px;
        bottom: 0;
    }

    &::after {
        background: url("../assets/footer/footer-pic.png") no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: 0.4;
    }

    .container {

        margin-top: 258px;
        display: grid;
        grid-template-columns: 146px 243px 208px 310px;
        // Column with fixed size
        margin-left: 455px;
        gap: 20px;


        .column {
            height: fit-content;

            h3 {
                font-weight: 700;
                font-size: 18px;
                margin-bottom: 28px;
            }

            ul {
                list-style: none;
                padding: 0;

                li {
                    display: flex;
                    align-items: center;
                    margin-bottom: 28px;

                    a {
                        z-index: 1;
                        cursor: pointer;
                        text-decoration: none;
                        color: inherit;
                        transition: color 0.3s;

                        &:hover {
                            color: #a3d2ca;
                        }
                    }

                    img {
                        margin-right: 10px;
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .social {

                display: flex;
                gap: 10px;
                margin-top: 20px;

                a {
                    z-index: 1;
                    cursor: pointer;

                    img {
                        width: 24px;
                        height: 24px;
                        transition: transform 0.3s;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }

                p {
                    font: 400 16px "Cabinet-Grotesk", sans-serif;
                    text-transform: capitalize;
                    color: #f5f7fa;
                }
            }
        }
    }

    //Block-bottom
    .bottom {
        text-align: center;
        font-size: 14px;
        margin-top: auto;
        padding: 20px 0;

        p {
            font: 400 16px "Leiko";
            text-transform: capitalize;
            color: rgba(245, 247, 250, 0.55);
            margin: 5px 0;
        }
    }
}