body {
    background: #375B68;

    outline: none;
    overflow-x: hidden;

}

main {
    max-width: 1440px;
    margin: 0px auto;
    background: #375B68;
}

header {
    max-width: 1440px;
    margin: 0px auto;
    background: #375B68;
}

footer {
    background:
        linear-gradient(180deg, rgba(55, 91, 104, 0) 0%, rgba(18, 33, 46, 0.26) 19.69%, #12212e 65.27%);
    height: 653px;
    width: 1440px;
    max-width: 100%;
    margin: 0px auto;
    background-color: #375B68;
}