header {
    background: #375B68;
    display: flex;
    justify-content: space-between;
    ul {
        margin: 35px 0px 0px 90px;
        display: flex;
        list-style: none;
        gap: 35.5px;
        li {
            a {
                display: grid;
                text-decoration: none;
                color: #F5F7FA;

                img {
                    
                    margin-top: -18px;
                    width: 41.01px;
                    height: 41.32px;
                }
            }
            a:hover{
                background-color: rgba(255, 255, 255, 0.2); /* Легкий підсвіт при наведенні */
                border-radius: 5px;
            }

        }
    }

    .login-field {
        margin: 35px 66px 0px 0px;

        &img {
            width: 25px;
            height: 25px;
        }
    }
}