#offer {
    display: grid;
    grid-template-columns: 1fr 1fr 120px;
    justify-content: flex-end;
    height: 52vh;
    background: url('../assets/offer/offer.svg') no-repeat; // Картинка как фон

    .offer__content {
        margin-top: 95px;
        grid-column: 2;
        text-align: left;
        color: #f5f7fa;
        max-width: 600px;

        h2 {
            font-family:"Cabinet-Grotesk";
            font-weight: 700;
            font-size: 48px;
            line-height: 2;
            text-transform: uppercase;
            color: #f5f7fa;
        }

        p {
            max-width: 441px;
            font-family:"Cabinet-Grotesk";
            font-weight: 300;
            font-size: 24px;
            text-transform: capitalize;
            color: #f5f7fa;
        }
    }

    .offer__button-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        max-height: 400px;

        .offer__button {
            margin-left: -200px;
            cursor: pointer;
            background: transparent;
            border: none;
            display: flex;
            flex-direction: column;
            
            align-items: center;
            width: 80px;
            
            height: 50px;
            gap: 10px;
            
            img {
                position: absolute;
                width: 94px;
                height: 58px;
                margin-top: -10px;
            }

            .offer__bottom-button-desc {
                color: white;
                font-size: 14px;
                line-height: 1.1;
                margin-top: -2px;
               margin-right: -80px;
            }

            &:hover .offer__bottom-button-desc {
                transition: transform 0.3s ease;
                transform: translateX(10px);
            }
        }
    }
}