.sleepy-shop {
    margin-top: 120px;
    display: flex;
    justify-content: center;

    .sleepy-shop_content {
        display: flex;
        align-items: center;

        .sleepy-shop__text {

            margin-left: 64px;

            h2 {

                font-family: "Cabinet-Grotesk";
                font-weight: 700;
                font-size: 24px;
                line-height: 200%;
                text-transform: capitalize;
                color: #f5f7fa;
                animation: focus-in-expand-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }

            p {
                font-family: "Cabinet-Grotesk";
                font-size: 20px;
                line-height: 220%;
                text-transform: capitalize;
                text-align: justify;
                color: #f5f7fa;
                max-width: 774px;
                max-height: 215px;
                animation: focus-in-expand-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }


            .sleepy-shop__link {
                position: relative;
                display: flex;
                justify-content: flex-end;
                font-family: "Cabinet-Grotesk";
                text-decoration: none;
                font-weight: 700;
                font-size: 22px;
                color: #f5f7fa;
                animation: focus-in-expand-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        img {
            margin-left: 115px;
            z-index: 1;
            margin-right: 20px;
            max-width: 100%;
            opacity: 0;
            animation: slideIn 1s ease-out forwards 1.2s;
        }

        //small cloud

        &::before {
            content: "";
            position: absolute;

            z-index: 0;
            background: url("../assets/sleepy-shop/C5.svg") no-repeat;
            margin-left: 708px;
            margin-bottom: 16px;
            background-size: 342px, 122px;
            background-position: center;
            width: 500px;
            height: 500px;
            opacity: 0;
            animation: slideIn 1s ease-out forwards 1.0s;
        }

    }
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes focus-in-expand-fwd {
    0% {
        letter-spacing: -.5em;
        transform: translateZ(-800px);
        filter: blur(12px);
        opacity: 0
    }

    100% {
        transform: translateZ(0);
        filter: blur(0);
        opacity: 1
    }
}

@media (max-width: 768px) {

    .sleepy-shop {
        .sleepy-shop_content {
            display: flex;
            align-items: center;


            &::before {
                content: "";
                position: absolute;
                z-index: 0;
            }

            &::before {
                z-index: 0;
                background: url("../assets/sleepy-shop/C5.svg") no-repeat;
                margin-left: 240px;
                margin-bottom: 16px;
                background-size: 180px, 100px;
                background-position: center;
            }

            .sleepy-shop__text {


                h2 {
                    font-size: 30px;
                    max-width: 300px;
                }

                p {
                    font-size: 9px;
                    max-width: 900px;
                }

                .sleepy-shop__link {
                    font-size: 10px;
                }
            }

            img {
                max-width: 250px;
            }

        }
    }
}

@media (max-width: 576px) {
    .sleepy-shop {
        display: flex;
        justify-content: center;

        .sleepy-shop_content {
            display: flex;
            align-items: center;
            justify-content: center;

            .sleepy-shop__text {
                margin-left: 20px;

                h2 {
                    font-size: 10px;
                }

                p {
                    font-size: 7px;
                    width: 210px;
                }

                .sleepy-shop__link {
                    font-size: 10px;
                }
            }

            img {
                margin: 0 20px;
                max-width: 140px;
            }

            &::before {
                content: "";
                position: absolute;
                z-index: 0;
            }

            &::before {
                z-index: 0;
                background: url("../assets/sleepy-shop/C5.svg") no-repeat;
                margin-left: 120px;
                margin-bottom: 1px;
                background-size: 122px, 122px;
                background-position: center;
            }
        }
    }
}